Repository littensy/charmed-icons, pull requests merged in 2024-07, with the labels that each got.

#7 small enhancements
  package.json
  themes/charmed-icon-theme.json
  themes/files/vue.svg
Labels: enhancement, file-icon

#9 feat: design new folders
  README.md
  assets/folders-alt.png
  assets/folders.png
  themes/charmed-icon-theme.json
  themes/folders-alt/asset.svg
  themes/folders-alt/command.svg
  themes/folders-alt/event.svg
  themes/folders-alt/function.svg
  themes/folders-alt/provider.svg
  themes/folders/asset.svg
  themes/folders/command.svg
  themes/folders/event.svg
  themes/folders/function.svg
  themes/folders/provider.svg
Labels: folder-icon

#14 feat: design binary, assembly, powershell
  assets/files.png
  themes/charmed-icon-theme.json
  themes/files/assembly.svg
  themes/files/binary.svg
  themes/files/eslint.svg
  themes/files/git.svg
  themes/files/h.svg
  themes/files/javascript-config.svg
  themes/files/javascript-test.svg
  themes/files/javascript.svg
  themes/files/luau-def.svg
  themes/files/node.svg
  themes/files/powershell.svg
  themes/files/typescript-config.svg
  themes/files/typescript-def.svg
  themes/files/typescript-test.svg
  themes/files/typescript.svg
  themes/files/vue.svg
  themes/files/web-assembly.svg
Labels: file-icon
